<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <!--AOS-->
    <link rel="stylesheet" href="https://michalsnik.github.io/aos/" />
    <link rel="stylesheet" type="text/css" href="/style/style.css">       
</head>

<body>
    <div class="bar">
        <div class="n1" data-aos="zoom-in-out">
            <h2>MUSIC</h2>
        </div data-aos="fade-left">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/users/dashboard">DASHBOARD</a></li>
            <li><a href="/users/music">MUSIC</a></li>
            <li><a href="/users/upload">UPLOAD</a></li>
            <li><a href="/users/about">ABOUT</a></li>
            <li><a href="/users/contact">CONTACT</a></li>
            
        </ul>
        <div class="c1">
            <center><img class="image1" src="/images/musiclogo.jfif"></center>
            <div class="ab1">
                <h1>About Us</h1>
                <p data-aos="fade-left">Hello Guys, <br> If you want to listen to latest songs and download at free rate <br>then,
                <span>SOUNDS HUB</span> is just right for you <br>There is nothing irritating here as there is <strong><u>No Adds</u>..... ! ! !</strong></p>
            </div>
        </div>

    </div>

</body>

</html>