<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <!--AOS-->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="/style/style.css">
</head>

<body>
    <div class="bar">
        <div class="n1">
            <h2>MUSIC</h2>
        </div>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/users/dashboard">DASHBOARD</a></li>
            <li><a href="/users/music">MUSIC</a></li>
            <li><a href="/users/upload">UPLOAD</a></li>
            <li><a href="/users/about">ABOUT</a></li>
            <li><a href="/users/contact">CONTACT</a></li>
        </ul>
        <div class="c1">
            <center><img class="image1" src="/images/musiclogo.jfif"></center>
            <div class="con1">
                <h1>CONTACT US</h1>
                <h2>WE ARE READY TO OFFER YOU THE BEST OF MUSIC SERVICES</h2>

                <div class="main">
                    <form action="MAILTO:tuffourboateng2@gmail.com" method="post" enctype="text/plain">
                    <input type="text" name="name" class="f1" placeholder="Enter Your Name please" required>
                    <br>
                    <br>
                    <input type="text" name="email" class="f1" placeholder="Enter Your Email please" required>
                    <br>
                    <br>
                    <textarea name="message" class="f1" placeholder="Message" cols="18" rows="5" required></textarea>
                    <br>
                    <br>
                    <input type="text" class="f2" value="SEND MESSAGE" type="submit">
                    </form>
                </div>
            </div>
        </div>

    </div>

</body>

</html>