<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <!--AOS-->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="style/style.css">
</head>
<body>
    
<div class="bar">
    <div class="n1">
        <h2>MUSIC</h2>
    </div>
    <ul>
        <li id="home"><a href="/">HOME</a></li>
    </ul>
    <div class="c1">
        <center><img class="image2" src="/images/musiclogo.jfif"></center>
    </div>
</div>

<div>
    <center><a id="login" href="/users/login">Login here please</a></center>
</div>
</body>
</html>