<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>music</title>
    <!--AOS-->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="/style/style.css">
</head>

<body>
    <div class="bar">
        <div class="n1">
            <h2>MUSIC</h2>
        </div>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/users/dashboard">DASHBOARD</a></li>
            <li><a href="/users/music">MUSIC</a></li>
            <li><a href="/users/upload">UPLOAD</a></li>
            <li><a href="/users/about">ABOUT</a></li>
            <li><a href="/users/contact">CONTACT</a></li>
            
        </ul>
        <div class="c1">
            <center><img class="image1" src="/images/musiclogo.jfif"></center>
            <div class="songs1">
                <h1>GOSPEL SONGS</h1>
                <table>
                    <tbody>
                        <tr>
                            <th>Song</th>
                            <th>Listen</th>
                            <th>Download</th>
                        </tr>
                        <ul>Drop-Down
                        <tr>
                            <td id="song-name">Bisa Nyame-Mark Anim Yirenkyi</td>
                            <td><a href="/audios/SDA SONGS/Mark Anim - Bisa Nyame.mp3">Listen</a></td>
                            <td><a href="/audios/SDA SONGS/Mark Anim - Bisa Nyame.mp3" download>Download</a></td>
                        </tr>
                        <tr>
                            <td id="song-name">Yesu Mogya-Mark Anim Yirenkyi</td>
                            <td><a href="/audios/SDA SONGS/Mark Anim - YESU MOGYA {2007].mp3">Listen</a></td>
                            <td><a href="/audios/SDA SONGS/Mark Anim - YESU MOGYA {2007].mp3" download>Download</a></td>
                        </tr>
                        <tr>
                            <td id="song-name">Medimafo Tease-Mark Anim Yirenkyi</td>
                            <td><a href="/audios/SDA SONGS/01 MEDIMAFO TEASE.mp3">Listen</a></td>
                            <td><a href="/audios/SDA SONGS/01 MEDIMAFO TEASE.mp" download>Download</a></td>
                        </tr>
                        <tr>
                            <td id="song-name">Advent Voices Eto Betwa</td>
                            <td><a href="/audios/SDA SONGS/ADVENT_VOICES_OF_SDA__ft_MARK_ANIM_YIRENKYI-ETO)_BETWA(MUSIC_VIDEO).mp3">Listen</a></td>
                            <td><a href="/audios/SDA SONGS/ADVENT_VOICES_OF_SDA__ft_MARK_ANIM_YIRENKYI-ETO)_BETWA(MUSIC_VIDEO).mp3" download>Download</a></td>
                        </tr>
                        <tr>
                            <td id="song-name">Inspiring Singers</td>
                            <td><a href="/audios/SDA SONGS/INSPIRING_SINGERS_II_MEDLEY_(LIVE)(128k).m4a">Listen</a></td>
                            <td><a href="/audios/SDA SONGS/INSPIRING_SINGERS_II_MEDLEY_(LIVE)(128k).m4a" download>Download</a></td>
                        </tr>
                        <tr>
                            <td id="song-name">Aka Kumaa-Kyei Baffour</td>
                            <td><a href="/audios/SDA SONGS/KYEI BAFFOUR - AKA KUMAA BI.mp3">Listen</a></td>
                            <td><a href="/audios/SDA SONGS/KYEI BAFFOUR - AKA KUMAA BI.mp3" download>Download</a></td>
                        </tr>
                        <tr>
                            <td id="song-name">Anidaso-Kyei Baffour</td>
                            <td><a href="/audios/SDA SONGS/KYEI BAFFOUR - ANIDASO.mp3">Listen</a></td>
                            <td><a href="/audios/SDA SONGS/KYEI BAFFOUR - ANIDASO.mp3" download>Download</a></td>
                        </tr>
                        <tr>
                            <td id="song-name">Mepe Wo Yonko-Mark Anim Yirenkyi</td>
                            <td><a href="/audios/SDA SONGS/MARK_ANIM-MEP3WO_YONKO(128k).mp3">Listen</a></td>
                            <td><a href="/audios/SDA SONGS/MARK_ANIM-MEP3WO_YONKO(128k).mp3" download>Download</a></td>
                        </tr>
                        <tr>
                            <td id="song-name">Odomankoma-Mark Anim Yirenkyi</td>
                            <td><a href="/audios/SDA SONGS/MARK_ANIM__ODOMANKOMA_.NEW_ALBUM_COMING_OUTSOON(128k).mp3">Listen</a></td>
                            <td><a href="/audios/SDA SONGS/MARK_ANIM__ODOMANKOMA_.NEW_ALBUM_COMING_OUTSOON(128k).mp3" download>Download</a></td>
                        </tr>
                        <tr>
                            <td id="song-name">Obibini-Mark Anim Yirenkyi</td>
                            <td><a href="/audios/SDA SONGS/MARK_ANIM__OBIBINII__AKOA_NEW_ALBUM_COMING_OUTSOON(256k).mp3">Listen</a></td>
                            <td><a href="/audios/SDA SONGS/MARK_ANIM__OBIBINII__AKOA_NEW_ALBUM_COMING_OUTSOON(256k).mp3" download>Download</a></td>
                        </tr>
                        <tr>
                            <td id="song-name">Trust and Obey SDA Hymnal</td>
                            <td><a href="/audios/SDA SONGS/SDA-Trust and Obey.mp3">Listen</a></td>
                            <td><a href="/audios/SDA SONGS/SDA-Trust and Obey.mp3" download>Download</a></td>
                        </tr>
                        </ul>
                    </tbody>
                </table>
            </div>

            <div class="songs2">
                <h1>OTHERS</h1>
                <table>
                <tbody>
                    <tr>
                        <th>Song</th>
                        <th>Listen</th>
                        <th>Download</th>
                    </tr>
                    <tr>
                        <td id="song-name">Jordin Sparks</td>
                        <td><a href="/audios/COOLS/zordan_Sparks_feat_Chris_Brown_No_Air.mp3">Listen</a></td>
                        <td><a href="/audios/COOLS/zordan_Sparks_feat_Chris_Brown_No_Air.mp3" download>Download</a></td>
                    </tr>
                    <tr>
                        <td id="song-name">Abba-Chiquitita</td>
                        <td><a href="/audios/COOLS/ABBA - CHIQUITITA.mp3">Listen</a></td>
                        <td><a href="/audios/COOLS/ABBA - CHIQUITITA.mp3" download>Download</a></td>
                    </tr>
                    <tr>
                        <td id="song-name">Abba-Adante Adante</td>
                        <td><a href="/audios/COOLS/ABBA-Adante Adante.mp3">Listen</a></td>
                        <td><a href="/audios/COOLS/ABBA-Adante Adante.mp3" download>Download</a></td>
                    </tr>
                    <tr>
                        <td id="song-name">Quit playing games with my heart</td>
                        <td><a href="/audios/COOLS/Backstreet Boys - Quit Playing Games (With My Heart).mp3">Listen</a></td>
                        <td><a href="/audios/COOLS/Backstreet Boys - Quit Playing Games (With My Heart).mp3" download>Download</a></td>
                    </tr>
                    <tr>
                        <td id="song-name">Incomplete</td>
                        <td><a href="/audios/COOLS/Backstreet_Boys_Incomplete - Copy.mp3">Listen</a></td>
                        <td><a href="/audios/COOLS/Backstreet_Boys_Incomplete - Copy.mp3" download>Download</a></td>
                    </tr>
                    <tr>
                        <td id="song-name">Look Into My Eyes</td>
                        <td><a href="/audios/COOLS/Brain Adams - Look into my eyes.mp3">Listen</a></td>
                        <td><a href="/audios/COOLS/Brain Adams - Look into my eyes.mp3" download>Download</a></td>
                    </tr>
                    <tr>
                        <td id="song-name">Please Forgive Me</td>
                        <td><a href="/audios/COOLS/BRYAN ADAMS - PLEASE FOR GIVE ME - Copy.mp3">Listen</a></td>
                        <td><a href="/audios/COOLS/BRYAN ADAMS - PLEASE FOR GIVE ME - Copy.mp3" download>Download</a></td>
                    </tr>
                    <tr>
                        <td id="song-name">Joelene</td>
                        <td><a href="/audios/COOLS/Dolly Parton - Joelene.mp3">Listen</a></td>
                        <td><a href="/audios/COOLS/Dolly Parton - Joelene.mp3" download>Download</a></td>
                    </tr>
                    <tr>
                        <td id="song-name">Sacrifice</td>
                        <td><a href="/audios/COOLS/ELTON JOHN - SACRIFICE.mp3">Listen</a></td>
                        <td><a href="/audios/COOLS/ELTON JOHN - SACRIFICE.mp3" download>Download</a></td>
                    </tr>
                    <tr>
                        <td id="song-name">Soledad</td>
                        <td><a href="/audios/COOLS/Westlife - Soledad.mp3">Listen</a></td>
                        <td><a href="/audios/COOLS/Westlife - Soledad.mp3" download>Download</a></td>
                    </tr>
                    <tr>
                        <td id="song-name">Good Bye My Lover</td>
                        <td><a href="/audios/COOLS/Goodbye My Lover.mp3">Listen</a></td>
                        <td><a href="/audios/COOLS/Goodbye My Lover.mp3" download>Download</a></td>
                    </tr>
                    </table>
            </div>
        </div>
            
    </div>

</body>

</html>